body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5 {
    margin: 20px 0;
}

header {
    background-color: rgba(140, 20, 4, 0.91);
    padding:10px 10%;
    color:white;
    width:100%;
}

header div {
    margin-bottom:20px;
}

header div big {
    font-size: 30px;
}

header img {
    width:50px;
    position: relative;
    top:15px;
}

header a {
    color:white;
    margin:0 10px;
}

header a:hover {
    color:#FF9300;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(140, 16, 0, 0.91);
    padding:10px 10%;
    color:white;
    width:100%;
}

.container {
    margin: 10px 15%;
    display: flex;
    justify-content: center;
}

input, textarea {
    margin:10px 0;
    width:300px;
    padding:5px;
}

textarea {
    height: 50%;
}